<!DOCTYPE html>
<html lang="en" translate="no">
<head>
  {{ title site.title }}
  {{ desc site.description }}

  {{ include "head" }}

  {{!-- {{ stylesheet "/styles/main.animations.scss" "(prefers-reduced-motion: no-preference)" }} --}}

  <link rel="preload" as="image" href="/assets/logo.svg" type="image/svg+xml">

  <meta property="og:type" content="website">
</head>

<body>
  {{ include "header" }}
  {{ include "home" }}

  <main>
    {{ include "profile" }}
    {{ include "overview" }}
    {{ include "projects" }}
    {{ include "illustrations" }}
    {{ include "links" }}
  </main>

  {{ include "footer" }}

  {{ script "/scripts/_home.ts" true }}
</body>
</html>
