<!DOCTYPE html>
<html lang="en" translate="no">
<head>
	{{ title site.title }}
	{{ desc site.description }}

	{{ include "head" }}

  <meta property="og:type" content="website">

	<script type="text/javascript" src="/scripts/main.ts"></script>
	<script type="text/javascript" src="/scripts/projects.ts"></script>

	<link rel="preload" href="/assets/avatar.webp" as="image" type="image/webp">
</head>

<body>
	{{ include "header" }}
	{{ include "home" }}
	<main>
		{{ include "profile" }}
		{{ include "overview" }}
		{{ include "projects" }}
		<section id="illustrations" data-nav-name="Illustrations"></section>
		{{ include "links" }}
	</main>
	{{ include "footer" }}
</body>
</html>