<!DOCTYPE html>
<html lang="en" translate="no">
<head>
  {{ include "head" }}

  <meta property="og:type" content="website">

  <style type="text/css">
    .banner-spacing {
      height: 300px;
    }
    .banner-spacing > h1 {
      padding: 2em;
      padding-top: 3em;
      margin: 0;
      text-align: left;
      font-weight: 200;
    }
  </style>
</head>

<body>
  {{ include "header" }}

  <div class="banner-spacing">
    <h1>Links &amp; Socials</h1>
  </div>

  <main>
    {{ include "profile" }}
    {{ include "links" }}
  </main>

  {{ include "footer" }}

  {{ stylesheet "/styles/animations.scss" "(prefers-reduced-motion: no-preference)" }}

  {{ script "/scripts/_page.ts" true }}
</body>
</html>
