<!DOCTYPE html>
<html lang="en" translate="no">
<head>
	{{ include "head" }}
</head>

<body>
	{{ include "header" }}
	{{ include "home" }}
	<main>
		{{ include "projects" }}
	</main>
	{{ include "footer" }}
</body>
</html>