<footer>
  <div class="footer-body">
    <div class="links-section horizontal">
      <h3>This Site</h3>
      <div class="badges-container">
        {{#each repoBadges}}
          {{{this}}}
        {{/each}}
      </div>
      <div>
        {{{icons.scaleBalanced}}} Licensed Under
        <a href="https://{{repoURL}}/blob/main/LICENSE"
          target="_blank"
          rel="nofollow noopener noreferrer"
          referrerpolicy="no-referrer"
          aria-label="GNU GPLv3 License text"
        >
          GNU GPLv3
        </a>
      </div>
      <ul>
      {{#each siteOptions}}
        <li>
          <a href="{{this.url}}"
            target="_blank"
            rel="nofollow noopener noreferrer"
            referrerpolicy="no-referrer"
            aria-label="{{{this.url}}}"
          >
            {{{this.icon}}}
          </a>
        </li>
      {{/each}}
      </ul>
    </div>
    <div class="links-section">
      <blockquote class="note">
        <div class="title">{{{icons.noteSticky}}} Note</div>
        <p>
          While the source code of this site is licensed under GPLv3, some assets and content displayed here may be subject to different licenses or copyright restrictions.
        </p>
      </blockquote>
    </div>
  </div>

  <div class="footer-end">
    <div>
      Copyright &copy; 2024 nnda
    </div>
    <div class="flex-space"></div>
    <div>
      <a href="https://{{repoURL}}"
        target="_blank"
        rel="nofollow noopener noreferrer"
        referrerpolicy="origin"
      >
        {{{icons.code}}} Source Code
      </a>
    </div>
  </div>
</footer>