<header>
  <div class="header-inner">
    <div class="logo">
      <a href="/">
        <img src="/assets/logo.svg" height="40" width="40" alt="ん.">
      </a>
    </div>

    <div id="mobile-nav-sect-label"></div>

    <nav id="navbar" class="shown">
      <ul class="nostyle">
        {{#each nav.links}}
          {{#unless this.external}}
            <li class="scrollspy">
              <a href="/{{this.url}}" class="nav-link">
                {{{this.icon}}}
                {{{this.name}}}
              </a>
            </li>
          {{/unless}}
        {{/each}}

        <li>
          <a href="404.html" class="nav-link nav-link-btn">
            <svg data-i="basket-shopping" class="global" height="18" width="18"></svg>
            Shop
          </a>
        </li>
      </ul>

      <div class="vseparator"></div>

      <ul class="nostyle ext-links">
        {{#each nav.links}}
          {{#if this.external}}
            <li>
              <a href="https://{{this.url}}" class="nav-link"
                target="_blank"
                rel="me nofollow noopener noreferrer"
                referrerpolicy="no-referrer"
                aria-label="{{this.url}}"
              >
                {{{this.icon}}}
                {{{this.name}}}
              </a>
            </li>
          {{/if}}
        {{/each}}
      </ul>

      <button aria-label="Close Navbar Button" class="nav-link-btn icon-only" id="navbar-collapse">
        {{{icon "home" "angle-down" 36 48}}}
      </button>
    </nav>

    <button aria-label="Navbar Menu" class="navbar-button icon-only blank" id="navbar-button">
      {{{icon "global" "bars" 18 20}}}
    </button>
  </div>
</header>

<div id="collapse-area" class="hidden-o"></div>

<div class="back-top-cont">
  <button id="back-top" aria-label="Back to top">
    <div class="chv-l"></div>
    <div class="chv-r"></div>
  </button>
</div>
