<header>
  <div class="header-inner">
    <div class="logo">
      <a href="/">
        <img src="/assets/logo.svg" height="40" width="40" alt="ん.">
      </a>
    </div>

    <div id="navbar-mobile-header">
      <div class="vseparator"></div>
      <div id="mobile-nav-sect-label"></div>
      <div class="flex-space"></div>
      <button aria-label="Navbar Menu" class="navbar-button icon-only blank" id="navbar-button">{{{iconFAS.bars}}}</button>
    </div>

    <div id="navbar-desktop-header">
      <div class="flex-space"></div>
      <nav>
        <ul class="nav-inner-center nostyle">
          {{#each nav.links}}
            {{#unless this.external}}
              <li class="scrollspy">
                <a href="/{{this.url}}" class="nav-link">
                  {{{this.icon}}}
                  {{{this.name}}}
                </a>
              </li>
            {{/unless}}
          {{/each}}

          <li>
            <a href="#" class="nav-link nav-link-btn">
              {{{iconFAS.basket_shopping}}}
              Shop
            </a>
          </li>
        </ul>
      </nav>

      <div class="vseparator"></div>

      <nav>
        <ul class="nav-inner-right nostyle">
          {{#each nav.links}}
            {{#if this.external}}
              <li>
                <a href="https://{{this.url}}" class="nav-link"
                  target="_blank"
                  rel="me nofollow noopener noreferrer"
                  referrerpolicy="no-referrer"
                  aria-label="{{this.url}}"
                >
                  {{{this.icon}}}
                  {{{this.name}}}
                </a>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </nav>
    </div>
  </div>

  <nav id="navbar-mobile" class="collapsed">
    <div class="nav-button-container">
      <button aria-label="Close Button" class="nav-item navbar-button nav-link icon-only blank">{{{iconFAS.xmark}}}</button>
    </div>
    <ul class="nostyle">
      {{#each nav.links}}
        {{#unless this.external}}
          <li>
            <a href="{{this.url}}" class="nav-link">
              {{{this.icon}}}
              {{{this.name}}}
            </a>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
    <ul class="nav-vertical nostyle">
      {{#each nav.links}}
        {{#if this.external}}
          <li>
            <a href="{{this.url}}" class="nav-link"
              aria-label="{{this.url}}"
              target="_blank"
              rel="nofollow noopener noreferrer"
              referrerpolicy="no-referrer"
            >
              {{{this.iconLazy}}}
              {{{this.name}}}
            </a>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </nav>
</header>
<div id="collapse-trigger-area" class="hidden"></div>
<div class="back-top-cont">
  <button id="back-top" aria-label="Back to top">
    <div class="chv-l"></div>
    <div class="chv-r"></div>
  </button>
</div>
