<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="CCBot" content="nofollow">
<meta name="robots" content="noai, noimageai">
<meta name="tdm-reservation" content="1">

<title>{{site.title}}</title>

<meta name="title" content="{{site.title}}">
<meta name="description" content="{{site.description}}">

<meta property="og:type" content="website">
<meta property="og:title" content="{{site.title}}">
<meta property="og:description" content="{{site.description}}">

<meta name="googlebot" content="notranslate">

<link rel="stylesheet" type="text/css" href="/styles/fonts.scss">

<link rel="stylesheet" type="text/css" href="/styles/main.scss">

<link rel="stylesheet" type="text/css" href="/styles/main.desktop.scss" media="(min-width: 700px)">
<link rel="stylesheet" type="text/css" href="/styles/main.mobile.scss" media="(max-width: 700px)">

<link href="/assets/favicon.png" rel="icon"/>

<meta name="theme-color" content="#0c0d11">

{{!--
<style>
  :root {
    {{easeOutBounce}}
  }
</style>
--}}
