<header>
  <div class="header-inner">
  	<h1 class="text-primary">
      ん.
    </h1>
    <button class="navbar-button" id="navbar-button">{{{icons.bars}}}</button>

    <nav>
      <ul class="nav-inner-center">
        {{#each nav.links}}
          {{#unless this.external}}
            <li>
              <a href="{{this.url}}" class="nav-link">
                {{{this.icon}}}
                {{{this.name}}}
              </a>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </nav>

    <nav>
      <ul class="nav-inner-right">
        {{#each nav.links}}
          {{#if this.external}}
            <li>
              <a href="{{this.url}}" class="nav-link"
                target="_blank"
                rel="nofollow noopener noreferrer"
                referrerpolicy="no-referrer"
                aria-label="{{this.url}}"
              >
                {{{this.icon}}}
                {{{this.name}}}
              </a>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </nav>
  </div>

  <nav id="navbar-mobile" class="collapsed">
    <div class="nav-button-container">
      <button class="nav-item navbar-button nav-link">{{{icons.xmark}}}</button>
    </div>
      <ul>
        {{#each nav.links}}
          {{#if nav.links.external}}
            <li>
              <a href="{{this.url}}" class="nav-link"
                target="_blank"
                rel="nofollow noopener noreferrer"
                referrerpolicy="no-referrer"
              >
                {{{this.icon}}}
                {{{this.name}}}
              </a>
            </li>
          {{else}}
            <li>
              <a href="{{this.url}}" class="nav-link">
                {{{this.icon}}}
                {{{this.name}}}
              </a>
            </li>
          {{/if}}
        {{/each}}
      </ul>
  </nav>
</header>