<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{site.title}}</title>

<meta name="title" content="{{site.title}}">
<meta name="description" content="{{site.description}}">

<meta property="og:type" content="website">
<meta property="og:title" content="{{site.title}}">
<meta property="og:description" content="{{site.description}}">

<meta name="CCBot" content="nofollow">
<meta name="robots" content="noai, noimageai">
<meta name="tdm-reservation" content="1">

<meta name="googlebot" content="notranslate">

<link rel="stylesheet" type="text/css" href="../styles/main.scss">

<script type="text/javascript" src="../scripts/main.ts"></script>