<section id="home">
  <div
    class="content"
    {{!-- id="tsparticles" --}}
  >

    <div class="self-cont">
      <div class="inner">
        <div class="name-cont">

          <svg width="500" height="500" version="1.1" viewBox="0 0 132.29 132.29" xmlns="http://www.w3.org/2000/svg">
           <g transform="matrix(.26458 0 0 .26458 -207.85 -54.301)" fill="#fff" fill-opacity=".99414" style="shape-inside:url(#rect236);shape-padding:7.28925;white-space:pre">
            <path d="m1249.7 472.8t-3 11.4q-2.4 10.8-5.4 27-2.4 16.2-3 32.4-6.6 0.6-7.2 10.2-0.6 9-2.4 12.6-1.2 2.4-3.6 2.4-3 0-4.2 1.8-4.2 6-6 15.6t-9.6 15.6l-1.8-6q0 0.6-0.6 1.2-4.2 5.4-6 10.2-1.8 4.2 0.6 9.6-2.4 2.4-7.8 5.4-4.8 3-7.8 0.6-5.4 4.2-5.4 9 0.6 4.8-4.2 7.8-24 12-44.4 22.2-20.4 9.6-44.4 10.8-27.6 1.2-46.2-7.8-18.6-9.6-31.2-27-16.8-24.6-24.6-60-7.2-36-10.2-75.6-29.4 24-49.8 56.4-19.8 31.8-37.2 64.2-3 9-6 20.4-2.4 10.8-6.6 19.8-4.2 8.4-12.6 9.6-6 0.6-14.4-4.8t-15-13.8q-6.6-9-7.8-16.8-1.8-15 4.2-24.6 6.6-9.6 13.8-16.8 4.2-4.2 7.8-7.8 3.6-4.2 5.4-9-0.6-1.8-4.8-1.8-1.8 0-3 0 2.4-7.2 7.8-15 5.4-8.4 9.6-16.2l-1.8-4.2q19.8-42.6 43.8-93 24.6-51 51-103.8t52.2-101.4q1.8-3 4.2-4.8 3-2.4 7.2 0.6 13.8 12 19.8 27 6.6 15 7.2 39.6-12.6 9-23.4 24-10.2 15-18.6 31.2-8.4 15.6-15.6 28.2-4.2 6.6-8.4 9.6-3.6 2.4-7.2 9.6l3.6 1.8q-1.8 3-4.2 5.4-1.8 2.4-3.6 4.8-4.2 4.2-7.2 9-2.4 4.2 0 10.2-1.2 1.8-2.4 3t-2.4 2.4q-1.8 2.4-3.6 4.8-1.2 2.4 0.6 6-0.6 3-4.8 2.4-3.6-1.2-4.8 1.8 1.8 4.2 0 7.8-1.8 3-1.8 3 8.4-6.6 21-13.8 13.2-7.2 26.4-7.2 15.6 0 25.8 14.4 4.8 19.8 4.8 49.2 0.6 28.8 4.8 57 3 19.8 9 36.6 6 16.2 18 25.8 30-1.2 52.8-10.2t40.2-22.8q21.6-17.4 37.8-39 16.8-22.2 32.4-45 15.6-23.4 34.2-43.2z"/>
           </g>
          </svg>

{{!-- 
          <img
            src="/assets/logo.webp"
            width="256"
            height="256"
            fetchpriority="high"
            alt=""
          >
 --}}
        </div>
        <div>
          <div class="title">
            Web Dev.
          </div>
          <div class="title">
            Game Dev.
          </div>
          <div class="title">
            Illustrator
          </div>
        </div>
      </div>
    </div>

    <div class="illust-cont">
      <div class="fg"></div>
      <img src="" alt="">
    </div>

    {{!-- 
    <div id="in-dev-stat">
      <div class="icon">
        {{{icons.road_barrier}}}
      </div>
      <div>
        website in development
        <br>
        <small>
          come back later!
        </small>
      </div>
    </div>
    --}}
    <div class="cta-container">
      <div class="cta-inner">
        <div class="cta-group">
          <a
            id="cta-comm"
            class="cta-button"
            href="/comm.html"
            target="_blank"
            rel="noopener noreferrer"
            referrerpolicy="origin"
          >
            {{{icons.paintbrush}}}
            Commission
          </a>
          <div class="cta-label">
            Need illustrations?
          </div>
        </div>

        <div class="cta-group">
          <a
            id="cta-patreon"
            class="cta-button"
            href="https://patreon.com/nnda"
            target="_blank"
            rel="noopener noreferrer"
            referrerpolicy="origin"
          >
            {{{brands.patreon}}}
            Become A Patron!
          </a>
          <div class="cta-label">
            Support me and my works,
            <br>
            &amp; get access to exclusive contents
          </div>
        </div>

        <div class="cta-group down-indicator-cont">
          <div class="down-indicator">
            {{{icons.computer_mouse}}}

            <div class="arrows">
              {{{icons.angle_down}}}
              {{{icons.angle_down}}}
              {{{icons.angle_down}}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- {{ script "/scripts/particles.ts" true }} --}}
