<section id="links">
  <div class="section-inner">
    <ul>
      {{#each socials}}
        <li class="
            link-item
            {{#if this.iconSlug}}
              {{this.iconSlug}}
            {{else}}
              default
            {{/if}}
            "
        >
          <a href="{{this.url}}"
            target="_blank"
            rel="nofollow noopener noreferrer"
            referrerpolicy="no-referrer"
            aria-label="{{{this.name}}}"
          >
            {{#if this.icon}}
              <div class="social-icon">{{{this.icon}}}</div>
            {{/if}}
            <span class="social-name">{{{this.name}}}</span>
            <small class="username">{{this.urlS}}</small>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</section>