<section id="links">
  <h1 class="heading-left-sticky">
    <div>エスエヌエス</div>
  </h1>

  <div class="section-inner">
    {{#each socials}}
      <div class="links-group">
        <div class="links-title anim once fade float-up">{{this.group}}</div>
        <ul class="nostyle">
          {{#each this.links}}
            <li class="
                anim once
                link-item
                {{#if this.iconSlug}}
                  {{this.iconSlug}}
                {{else}}
                  default
                {{/if}}
                "
            >
              <a href="{{this.url}}"
                target="_blank"
                rel="me nofollow noopener noreferrer"
                referrerpolicy="no-referrer"
                aria-label="{{{this.name}}}"
              >
                <div class="social-icon">
                  {{#if this.icon}}
                    {{{this.icon}}}
                  {{else}}
                    {{{icon "links" "link"}}}
                  {{/if}}
                </div>

                <span class="social-name">{{{this.name}}}</span>

                <small class="username">
                  {{#if this.username}}
                    {{this.username}}
                  {{else}}
                    {{this.urlS}}
                  {{/if}}
                </small>
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
</section>

{{ script "/scripts/build/icons/links.js" true }}
