<section id="overview">
  <hr class="hr">

  <h1 class="heading-left-sticky">
    <div>サマリー</div>
  </h1>

  <div class="section-inner">
    <div class="commits">
      <div class="controls anim fade float-up">
        <div class="section-title-sub">-</div>
        <ul class="inner nostyle card">
          <li>
            <button class="icon-only blank">{{{icon "overview" "calendar"}}}</button>
          </li>
          <li>
            <button class="icon-only blank">{{{icon "overview" "chart-area"}}}</button>
          </li>
          <li>
            <button class="icon-only blank">{{{icon "g" "github"}}}</button>
          </li>
        </ul>
      </div>
      <div class="calendar-container anim fade float-up">
        <div class="section-title-sub">
            Contribution Graph
        </div>
        <div class="inner card scrollbar-secondary">
          <div class="grid">
            {{#each ghContribs.arr.yearly}}<span class="c c{{this}}"></span>{{/each}}
          </div>
        </div>
      </div>
      <div class="stats anim fade float-up">
        <div class="section-title-sub">
            Stats
        </div>
        <div class="inner card">
          <div class="icon-bg">
            {{{icon "overview" "fire"}}}
          </div>
          <ul class="stats-list nostyle">

            <li class="title">
              <span></span>
              <span>Yearly</span>
              <span>All Time</span>
            </li>
            <li>
              <div>Total</div>
              <span>{{ghContribs.stats.total.yearly}}</span>
              <span>{{ghContribs.stats.total.all}}</span>
            </li>
            <li>
              <div>Highest</div>
              <span>{{ghContribs.stats.highest.yearly}}</span>
              <span>{{ghContribs.stats.highest.all}}</span>
            </li>
            <li>
              <div>Longest Streaks</div>
              <span>{{ghContribs.stats.streaks.yearly}}</span>
              <span>{{ghContribs.stats.streaks.all}}</span>
            </li>
            <li>
              <div>Daily Average</div>
              <span>{{ghContribs.stats.avg.daily.yearly}}</span>
              <span>{{ghContribs.stats.avg.daily.all}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="languages">
      <div class="section-title-sub anim fade float-right">
          Most Used Languages
      </div>
      <div class="languages-container">
        {{#each ghLangs}}
          <div class="lang anim" style="width: {{this.percent}}%">
            <div class="box">|</div>
            <code><b>{{this.percent}}%</b></code>
            <div class="icon-text">
              {{#if this.icon}}
                {{{this.icon}}}
              {{/if}}
              <span>
                {{this.name}}
              </span>
            </div>
          </div>
        {{/each}}
        <br>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="/scripts/build/overview.js" defer=""></script>