<section id="overview">
  <hr class="hr">
  <div class="section-inner">
    <h1 class="title-left-sticky">Overview</h1>
    <div class="commits">
      <div class="controls">
        <ul>
          <li>
            <button class="icon-only blank">{{{icons.calendar}}}</button>
          </li>
          <li>
            <button class="icon-only blank">{{{icons.chart_area}}}</button>
          </li>
          <li>
            <button class="icon-only blank">{{{brands.github}}}</button>
          </li>
        </ul>
      </div>
      <div class="calendar-container">
        <div class="section-title-sub">
            Contribution Graph
        </div>
        <div class="inner scrollbar-secondary">
          <div class="grid">
            {{#each ghContribs.arr.yearly}}<span class="c c{{this}}"></span>{{/each}}
          </div>
        </div>
      </div>
      <div class="stats">
        <div class="section-title-sub">
            Stats
        </div>
        <div class="inner">
          <div class="icon-bg">
            {{{icons.fire}}}
          </div>
          <ul class="stats-list">

            <li class="title">
              <span></span>
              <span>Yearly</span>
              <span>All Time</span>
            </li>
            <li>
              <div>Total</div>
              <span>{{ghContribs.stats.total.yearly}}</span>
              <span>{{ghContribs.stats.total.all}}</span>
            </li>
            <li>
              <div>Highest</div>
              <span>{{ghContribs.stats.highest.yearly}}</span>
              <span>{{ghContribs.stats.highest.all}}</span>
            </li>
            <li>
              <div>Longest Streaks</div>
              <span>{{ghContribs.stats.streaks.yearly}}</span>
              <span>{{ghContribs.stats.streaks.all}}</span>
            </li>
            <li>
              <div>Daily Average</div>
              <span>{{ghContribs.stats.avg.daily.yearly}}</span>
              <span>{{ghContribs.stats.avg.daily.all}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="languages">
      <div class="section-title-sub">
          Most Used Languages
      </div>
      <div class="languages-container">
        {{#each ghLangs}}
          <div class="lang" style="width: {{this.percent}}%">
            <div class="box">|</div>
            <code><b>{{this.percent}}%</b></code>
            <div class="name">
              {{#if this.icon}}
                {{{this.icon}}}
              {{/if}}
              <span>
                {{this.name}}
              </span>
            </div>
          </div>
        {{/each}}
        <br>
      </div>
    </div>
  </div>
</section>