
<div class="overview-socials">
  <div class="inner">
    <div class="section-title-sub anim once fade float-right">
        Socials
    </div>

    <div class="socials-lists">
      <ul class="nostyle">

        <li class="card">
          <div class="content">
            <div class="text">
              Test. plz ignore
            </div>
            <div class="media">
            </div>
          </div>
          <div class="flex-space"></div>
          <div class="actions">
            {{{ icon "global" "bluesky" }}}
            {{{ icon "global" "mastodon" }}}
          </div>
        </li>

        <li class="card">
          <div class="content">
            <div class="text">
              This is yet another test post.
            </div>
            <div class="media">
            </div>
          </div>
          <div class="flex-space"></div>
          <div class="actions">
            {{{ icon "global" "bluesky" }}}
            {{{ icon "global" "mastodon" }}}
          </div>
        </li>

        <li class="card">
          <div class="content">
            <div class="text">
              Another test.
            </div>
            <div class="media">
            </div>
          </div>
          <div class="flex-space"></div>
          <div class="actions">
            {{{ icon "global" "bluesky" }}}
            {{{ icon "global" "mastodon" }}}
          </div>
        </li>

        <li class="card">
          <div class="content">
            <div class="text">
              Something something placeholder content blah blah bla bla.
            </div>
            <div class="media">
            </div>
          </div>
          <div class="flex-space"></div>
          <div class="actions">
            {{{ icon "global" "bluesky" }}}
            {{{ icon "global" "mastodon" }}}
          </div>
        </li>

        <li class="card">
          <div class="content">
            <div class="text">
              =UwU=
            </div>
            <div class="media">
            </div>
          </div>
          <div class="flex-space"></div>
          <div class="actions">
            {{{ icon "global" "bluesky" }}}
            {{{ icon "global" "mastodon" }}}
          </div>
        </li>

        <li class="card">
          <div class="content">
            <div class="text">
              OwO
            </div>
            <div class="media">
            </div>
          </div>
          <div class="flex-space"></div>
          <div class="actions">
            {{{ icon "global" "bluesky" }}}
            {{{ icon "global" "mastodon" }}}
          </div>
        </li>

        <li class="card">
          <div class="content">
            <div class="text">
              Heavens above, have mercy on all of us.
            </div>
            <div class="media">
            </div>
          </div>
          <div class="flex-space"></div>
          <div class="actions">
            {{{ icon "global" "bluesky" }}}
            {{{ icon "global" "mastodon" }}}
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>