<section id="profile">
  <div class="bg-cover">
    <div class="section-inner">
      <div class="info-container">
        <div class="left">
          <div class="profile-pict">
            <img src="/assets/avatar.webp" height="180" width="180">
            <div class="status">
              <span>{{site.authorProfile.status.icon}}</span>
              {{site.authorProfile.status.text}}
            </div>
          </div>
        </div>
        <div class="right">
          <h1 class="name">
            {{site.author}}
          </h1>
          <p class="about">
            {{{site.authorProfile.description}}}
          </p>
        </div>
        <ul class="user-metadata">
          <li class="icon-text">
            {{{icons.volume_high}}}
            <span>
              {{{site.authorProfile.pronunciation}}}
            </span>
          </li>
          <li class="icon-text">
            {{{icons.user_tag}}}
            <span>
              {{{site.authorProfile.pronouns}}}
            </span>
          </li>
          <li class="icon-text">
            {{{icons.clock}}}
            <span id="clock-timezone" data-timezone="{{site.authorProfile.timezone}}">
              00:00:00
            </span>
          </li>
          <li class="icon-text">
            {{{icons.language}}}
            <span>
              {{{site.authorProfile.languages}}}
            </span>
          </li>
          <li class="icon-text">
            {{{icons.location_dot}}}
            <span>
              {{{site.authorProfile.location}}}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>