<section id="projects" data-nav-name="Projects">
  <div class="section-inner">
    <h1 class="section-title">Projects<small>プロジェクト</small></h1>
    {{#each projects}}
      {{#unless this.offsetElem}}
        <div
          class="project-card"
          style="
            {{#if this.image}}
              --img-bg: url({{this.image}});
            {{/if}}
          "
        >
          <div class="project-title">
            <a href="{{this.url}}"
              target="_blank"
              rel="noopener noreferrer"
              referrerpolicy="origin"
            >
              {{this.name}}
            </a>
          </div>
          <div class="labels-container">
            {{#each this.labels}}
              <span class="project-label {{this}}">{{this}}</span>
            {{/each}}
          </div>
          <p>{{this.description}}</p>
        </div>
      {{/unless}}
    {{/each}}
  </div>
</section>