<!DOCTYPE html>
<html lang="en" translate="no">
<head>
  {{ title {TITLE} }}
  {{ desc {DESC} }}

  {{ include "head" }}
</head>

<body>
  {{ include "header" }}

  <main>
    {CONTENT}
  </main>

  {{ include "footer" }}

  {{ stylesheet "/styles/animations.scss" "(prefers-reduced-motion: no-preference)" }}

  {{ script "/scripts/_page.ts" true }}
</body>
</html>
