<!DOCTYPE html>
<html lang="en" translate="no">
<head>
  {{ title {TITLE} }}
  {{ desc {DESC} }}
  {{ include "head" }}
</head>

<body>
  {{ include "header" }}
  <main>
    {CONTENT}
  </main>
  {{ include "footer" }}
  <script type="text/javascript" src="/scripts/_page.ts" defer=""></script>
</body>
</html>
